.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 35px 1fr 100px; 
    min-height: 100vh; /**establecemos que la pagina ocupe el total de la pantalla**/
    grid-template-areas: /**establecemos la posicion de la areas**/
    "header header header"
    "sidebar content content"
    "footer footer footer"
}

.container header {
    background: lightblue;
    grid-area: header; /**establecemos un nombre al area**/

}

.container aside {
    background: blue;
    grid-area: sidebar; /**establecemos un nombre al area**/
}

.container main {
    background: red;
    grid-area: content; /**establecemos un nombre al area**/
}

.container footer {
    background: yellow;
    grid-area: footer; /**establecemos un nombre al area**/
}

body {
    margin: 0;
}